<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MTG Card Counter Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MTG Card Counter Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="table">
      <div class="top-player">
        <app-player-field [player]="'Player 2'" [playerName]="'Player 2'"></app-player-field>
      </div>
      <div class="divider"></div>
      <div class="bottom-player">
        <app-player-field [player]="'Player 1'" [playerName]="'Player 1'"></app-player-field>
      </div>
    </div>

  </div>
</ion-content>
